.ocs-enable-taint {
  padding-top: var(--pf-v5-global--spacer--md);
  padding-bottom: var(--pf-v5-global--spacer--md);
}

.ocs-enable-arbiter-label {
  display: inline-block;
  &__title--padding {
    padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--sm)
      var(--pf-v5-global--spacer--sm) 0;
  }
}
